body{
    display: list-item;
    justify-content: center;
    align-items: center;
    background: url();
}




.container{
    align-content: center;
    width: auto;
    height: auto;
    background-color: rgb(251, 0, 255);
}

a{
    color: black;
}

pre{
    color: rgb(16, 16, 23);
}